@import "./tailwind.css";
@import "./base.css";
@import "./nav.css";

@font-face {
  font-family: "nhass-light";
  src: url("../fonts/NHaasGroteskDSStd-45Lt.otf");
  font-display: block;
}

@font-face {
  font-family: "nhass";
  src: url("../fonts/NHaasGroteskDSStd-75Bd.otf");
  font-display: block;
}

body {
  font-family: "nhass-light", sans-serif;
}

button,
a {
  /* @apply text-navy; */
  @apply no-underline;
  color: inherit;
  /* cursor: url(/img/curs_hover.svg), pointer; */
}

button:hover,
a:focus,
a:hover {
  @apply text-pink;
}

p {
  @apply mb-3;
  @apply leading-loose;
}

img {
  display: inline-block;
  vertical-align: middle;
}

.sr-only {
  position: absolute !important;
  width: 1px;
  height: 1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

/* .vertical {
  text-orientation: sideways;
  writing-mode: vertical-rl;
  transform: rotate(180deg);
  transform-origin: 50% 50%;
  font-size: 1.4rem;
  text-align: center;
} */

.fadeIn {
  animation: fadeIn_keys 700ms ease 200ms 1 forwards;
}

@keyframes fadeIn_keys {
  to {
    opacity: 1;
  }
}

.will-transform {
  will-change: transform;
}

@media (prefers-reduced-motion: reduce) {
  * {
    animation: none !important;
    transition: none !important;
  }
}

/* 
.lazy {
  position: relative;
  padding-top: 48%;
}

.lazy img {
  position: absolute;
  top: 0;
  height: 100%;
  object-fit: cover;
  width: 100%;
  opacity: 0;
  transition: transform 100ms linear;
  will-change: transform, opacity;
}

.lazy img:hover {
  transform: scale(0.96);
} */

/* page transitions */

.page-enter-active,
.page-leave-active {
  transition: opacity 500ms;
}

.page-enter,
.page-leave-active {
  opacity: 0;
}

/* .home:after, */
._main:after {
  will-change: transform;
  animation-duration: 1000ms;
  animation-fill-mode: both;
  animation-name: zoom;
  /* animation-play-state: paused; */
  animation-direction: alternate;
  animation-iteration-count: 1;
  content: "";
  position: fixed;
  width: 200vmax;
  height: 200vmax;
  background-color: var(--pink);
  z-index: 999;
  top: 50%;
  left: 50%;
  opacity: 0.9;
  /* transition: transform 2500ms ease-in-out; */
  /* transform: translate3d(-50%, -50%, 0) scale(0); */
  border-radius: 200vmax;
  pointer-events: none;
}

.bg-clip {
  -webkit-background-clip: text;
  background-clip: text;
}

.wrap {
  @apply mx-auto max-w-90;
}

.row {
  @apply flex flex-wrap -mx-4;
}

.col {
  @apply px-4 w-full;
}

.categories ul {
  @apply list-none;
}

.categories li:not(:last-of-type) {
  @apply mb-4;
}

.frame {
  padding-top: 36%;
  overflow: hidden;
  position: relative;
}

.frame img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0);
  width: 100%;
}

/* https://css-tricks.com/snippets/css/fluid-typography/ */
.font-stretch {
  font-size: calc(36px + (80 - 36) * ((100vw - 320px) / (2200 - 320)));
}

.font-stretch--sm {
  font-size: calc(24px + (60 - 24) * ((100vw - 320px) / (2200 - 320)));
}

::placeholder,
:-moz-placeholder,
:-ms-input-placeholder,
::-moz-placeholder,
::-webkit-input-placeholder {
  opacity: 1;
}

textarea,
select,
input[type] {
  @apply text-black;
}

/* icons from FA */

svg:not(:root).svg-inline--fa {
  overflow: visible;
  display: inline-block;
  font-size: inherit;
  height: 1em;
  vertical-align: -0.125em;
}

.text-stroke {
  -webkit-text-stroke: 2px black;
  color: transparent;
}
.text-stroke-w {
  -webkit-text-stroke: 2px #fff;
  color: transparent;
}

.subheading {
  @apply .font-bold text-xl mb-8 tracking-widest uppercase;
  letter-spacing: 0.6em;
}
