.menudrop {
  position: fixed;
  top: -100%;
  width: 0;
  height: 100vh;
  /* background-color: rgb(12, 12, 13); */
  /* background-color: #fff; */
  overflow-y: scroll;
  padding-bottom: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.menudrop__nav {
  font-size: 5rem;
  text-align: center;
  text-transform: uppercase;
}

/* #hamburger {
    position: fixed;
    top: 1rem;
    right: 1rem;
    background-color: rgb(12, 12, 238);
    color: white;
} */
